<div class="edit-todo px-1">
  <form class="edit-todo__form px-2 p" [formGroup]="todoForm" (submit)="onSubmit()">
      <div class="edit-todo__form-control">
        <div class="col"><label for="name">Name</label></div>
        <input class="form-control" type="text" id="name" name="name" formControlName="name">
      </div>

    <div class="edit-todo__form-control">
      <div class="col"><label for="description">Description</label></div>
      <textarea class="form-control" name="description" id="description" rows="3" formControlName="description"></textarea>
    </div>

    <div class="edit-todo__form-control">
      <div class="col">
        <label class="mr-4" for="importance">It is important</label>
        <input class="checkbox" type="checkbox" id="importance" formControlName="isImportant">
      </div>
    </div>

    <div class="edit-todo__form-control mb-2">
      <div class="col"><label for="expiration">Expires in</label></div>
      <input type="number" class="form-control" id="expiration" formControlName="expirationDate">
      <div>days</div>
    </div>

    <div class="edit-todo__submit-container mb-2">
      <button type="submit" class="btn btn-primary edit-todo__submit-button" [disabled]="todoForm?.invalid">{{ isEditMode ? 'Update Todo' : 'Add Todo' }}</button>
    </div>
  </form>
</div>
