<div class="todo mb-1 px-2">
  <div class="todo__complete">{{ todo?.isCompleted ? 'done' : '' }}</div>

  <div class="todo__important">{{ todo?.isImportant ? 'imp' : '' }}</div>

  <div class="todo__expires" *ngIf="todo?.expirationDate">{{ getExpirationInDays(todo) }}</div>

  <div class="row mx-4 pt-2 pb-2">
    <div class="col todo_name">{{ todo?.name }}</div>

    <div class="col todo_description">{{ todo?.description }}</div>

    <div class="col todo__action-buttons">
      <div>
        <button class="button btn btn-primary todo__edit-button" (click)="onEdit(todo)">Edit</button>
      </div>

      <div>
        <button class="button btn btn-danger todo__delete-button" (click)="onDelete(todo)">Delete</button>
      </div>

      <div>
        <button class="button btn btn-success todo__delete-button" (click)="onComplete(todo)">Complete</button>
      </div>
    </div>
  </div>
</div>
